{% extends 'ecom/customer_base.html' %}
{% load static %}
{% block content %}


<style media="screen">
  body {
    background-color:antiquewhite;;
  }
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }

  .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

  .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }

  .button:hover span {
  padding-right: 25px;
  }

  .button:hover span:after {
  opacity: 1;
  right: 0;
  }
  
  .our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 1px solid gray;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  
 
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 140%;
  height: auto;
  margin-left: -30px;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


</style>

<div class="row" style="position: relative; left: 600; top: 50;">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="our-team">
      <div class="picture">
        <img class="" src="{% static customer.profile_pic.url %}">
      </div>
      <div class="team-content">
        <h3 class="name">Name : {{request.user}}</h3>
        <h4 class="title">Address : {{customer.address}} </h4>
        <h4 class="title">Mobile no.:  :  {{customer.mobile}}</h4>
      </div>
      <ul class="social">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div style="text-align: center;">
        <a href="/edit-profile"><button class="button" ><span style="font-size: 20px; padding: -5px -5px;">Edit Profile </span></button></a>
      </div>
    </div>
    
  </div>
</div>
<br>

<br><br><br><br><br><br>




{% endblock content %}
